*{
    margin:0;
    padding: 0;
    /* border: 1px solid #00028d; */
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(202,0,0,1) 54%); 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.movieContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imageContainer{
  width: 430px;
  height: 430px;
}

#movieImage{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 0.2s;
    object-fit: cover;
    /* object-position: 0% 50%; */
    /* position: relative; */
    background: #ca0000;
    box-shadow:  24px 24px 45px #550000,
                -24px -24px 45px #ff0000;
}

#movieImage:hover{
  scale: 1.03;
}

#movieTitle{
    font-family: 'Manrope', sans-serif;
    color: white;
    margin-left: 10px;
    max-width: 430px;
}

#movieInfo{
    width: 430;
    font-family: 'Manrope', sans-serif;
    text-transform: capitalize;
    color: white;
    margin-left: 10px;
}

#titleContainer, #infoContainer, .arrowContainer{
    z-index: 2;   
}

.arrowContainer {
    margin: 0 15px
}
.arrowContainer:hover {
    margin: 0 15px;
    cursor: pointer;
}

.arrowContainer img{
    width: 80px;
/*     border: 1px solid red; */
}

#leftArrow{
    transform: rotate(180deg);
}